<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>

    <%- include('./partials/nav-menu/home-nav.ejs') %>

    <!-- ==================== LOGIN SECTION ==================== -->
    <section class="login">
        <div class="container shadow mb-5 bg-white rounded">

            <!-- Sidebar image -->
            <div class="sidebar"></div>

            <!-- Login div -->
            <div class="loginBar">
                <h3>Log in</h3>
                <%- include('./partials/messages/login-error.ejs') %>
                <form class="login-form" action="/login" method="POST">

                    <!-- Email -->
                    <div class="mb-2">                      
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" class="form-control loginInput">
                        <% if(typeof errors != 'undefined') { %>
                            <% errors.forEach(error => { %>
                                <small><%= error.emailMsg %></small>
                            <% }) %>
                        <% } %>
                    </div>

                    <!-- Password -->
                    <div class="mb-2">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" class="form-control loginInput">
                        <% if(typeof errors != 'undefined') { %>
                            <% errors.forEach(error => { %>
                                <small><%= error.passwordMsg %></small>
                            <% }) %>
                        <% } %>
                    </div>

                    <!-- Sign in button -->
                    <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

                    <!-- Register -->
                    <p>Not a member?
                        <a href="/register">Register</a>
                    </p>

                </form>
            </div>

        </div>

    </section><!-- End Registration Section -->

</body>

</html>