<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>

    <%- include('./partials/body.ejs') %>
    <!-- ==================== MY ITINERARIES SECTION ==================== -->
    <section id="my-itineraries" class="my-itineraries">

        <div class="container">
            <div class="d-flex justify-content-between border-bottom pb-2">
                <h1>My Itineraries</h1>
                <h1 class="d-flex align-items-end"><a href="/new">Create New +</a></h1>
            </div>
        </div>

        <% const dateFormatter = date => { %>
            <% let newDate = new Date(date); %>
            <% return newDate.toDateString(); %>
        <% }; %>

        <div class="container d-flex justify-content-around flex-wrap">
            <% itinerary.forEach(itinerary => { %>
                <div class="card d-flex shadow bg-white rounded" style="width: 19rem;">
                    <div class="card-body text-center " style="width: 19rem;">
                        <h5 class="card-title"><a href="/my-itineraries/<%= itinerary.destination %>"><%= itinerary.destination %></a></h5>
                        <h6 class="card-subtitle mb-2 text-muted pb-1"><%= dateFormatter(itinerary.dateFrom) %> - <%= dateFormatter(itinerary.dateTo) %></h6>
                        <p class="card-text"><%= itinerary.description %></p>
                        <a href="#" class="card-link">Edit</a>
                        <a href="#" class="card-link">Delete</a>
                    </div>
                </div>
            <% }) %>   
        </div>

    </section>

</body>

</html>