<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    
    <%- include('./partials/nav-menu/home-nav.ejs') %>

    <!-- ==================== REGISTRATION SECTION ==================== -->
    <section class="register">
        <div class="container">

            <form class="text-center border p-5 col-8 mx-auto" action="/register" method="POST">

                <p class="h4 mb-4">Registration</p>

                <%- include('./partials/messages/errors.ejs') %>

                <div class="form-row mb-4">
                    <div class="col">
                        <!-- First name -->
                        <input type="text" id="firstName" name="firstName" class="form-control"
                            placeholder="First name" value="<%= typeof firstName != 'undefined' ? firstName : '' %>">
                    </div>
                    <div class="col">
                        <!-- Last name -->
                        <input type="text" id="lastName" name="lastName" class="form-control"
                            placeholder="Last name" value="<%= typeof lastName != 'undefined' ? lastName : '' %>">
                    </div>
                </div>

                <!-- E-mail -->
                <input type="email" id="email" name="email" class="form-control mb-4" placeholder="E-mail" value="<%= typeof email != 'undefined' ? email : '' %>">

                <!-- Password -->
                <input type="password" id="password" name="password" class="form-control mb-4" placeholder="Password"
                    aria-describedby="defaultRegisterFormPasswordHelpBlock" value="<%= typeof password != 'undefined' ? password : '' %>">

                <!-- Confirm Password -->
                <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password"
                    aria-describedby="defaultRegisterFormPasswordHelpBlock" value="<%= typeof password2 != 'undefined' ? password2 : '' %>">

                <!-- Sign up button -->
                <button class="btn btn-info my-4 btn-block" type="submit">Register</button>

                <!-- Login  -->
                <p>Already have an account? <a href="/login">Log in</a></p>
            </form> 
        </div>
    </section><!-- End Registration Section -->
</body>

</html>