<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>

    <%- include('./partials/nav-menu/home-nav.ejs') %>

    <!-- ==================== REGISTRATION SECTION ==================== -->
    <section class="register">
        <div class="container shadow mb-5 bg-white rounded">

            <!-- Sidebar image -->
            <div class="sidebar d-flex">
                <div class="caption text-center">
                    <h3>Welcome!</h3>
                    <p class="mb-0">You are 30 seconds away from creating your first itinerary!</p>
                </div>
            </div>

            <!-- Registration div -->
            <div class="registration">
                <h3>Registration</h3>
                <%- include('./partials/messages/registration-error.ejs') %>
                <form class="registration-form" action="/register" method="POST">
                    <div class="form-row mb-2">
                        <div class="col">
                            <!-- First name -->
                            <label for="firstName">First Name:</label>
                            <input type="text" id="firstName" name="firstName" class="form-control registerInput"
                                value="<%= typeof firstName != 'undefined' ? firstName : '' %>">
                            <% if(typeof errors != 'undefined') { %>
                                <% errors.forEach(error => { %>
                                    <small><%= error.firstNameMsg %></small>       
                                <% }) %>
                            <% } %>
                        </div>
                        <div class="col">
                            <!-- Last name -->
                            <label for="lastName">Last Name:</label>
                            <input type="text" id="lastName" name="lastName" class="form-control registerInput"
                                value="<%= typeof lastName != 'undefined' ? lastName : '' %>">
                            <% if(typeof errors != 'undefined') { %>
                                <% errors.forEach(error => { %>
                                    <small><%= error.lastNameMsg %></small>       
                                <% }) %>
                            <% } %>
                        </div>
                    </div>
                    <div class="mb-2">
                        <!-- E-mail -->
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" class="form-control registerInput"
                            value="<%= typeof email != 'undefined' ? email : '' %>">
                        <% if(typeof errors != 'undefined') { %>
                            <% errors.forEach(error => { %>
                                <small><%= error.emailMsg %></small>       
                            <% }) %>
                        <% } %>
                    </div>
                    <div class="mb-2">
                        <!-- Password -->
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" class="form-control registerInput"
                            aria-describedby="defaultRegisterFormPasswordHelpBlock"
                            value="<%= typeof password != 'undefined' ? password : '' %>">
                        <% if(typeof errors != 'undefined') { %>
                            <% errors.forEach(error => { %>
                                <small><%= error.passwordMsg %></small>       
                            <% }) %>
                        <% } %>
                    </div>
                    <div class="mb-2">
                        <!-- Confirm Password -->
                        <label for="password2">Confirm Password:</label>
                        <input type="password" id="password2" name="password2" class="form-control registerInput"
                            aria-describedby="defaultRegisterFormPasswordHelpBlock"
                            value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
                        <% if(typeof errors != 'undefined') { %>
                            <% errors.forEach(error => { %>
                                <small><%= error.password2Msg %></small>       
                            <% }) %>
                        <% } %>
                    </div>

                    <!-- Sign up button -->
                    <button class="btn btn-info my-4 btn-block registerBtn" type="submit">Register</button>

                    <!-- Login  -->
                    <p>Already have an account? <a href="/login">Log in</a></p>

                </form>
            </div>

        </div>

    </section><!-- End Registration Section -->

</body>

</html>