<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>

    <%- include('./partials/body.ejs') %>

    <% const dateFormatter = date => { %>
        <% let newDate = new Date(date); %>
        <% return newDate.toDateString(); %>
    <% }; %>
    <!-- ==================== INDIVIDUAL ITINERARY SECTION ==================== -->
    <section id="one-itinerary" class="one-itinerary">

        <div class="container">
            <div class="d-flex justify-content-between border-bottom pb-2">
                <h1><%= itinerary.destination %></h1>
                <div class="d-flex justify-content-around" style="width: 140px">
                    <h1 class="d-flex align-items-end" id="edit"><a href="#">Edit</a></h1>
                    <h1 class="d-flex align-items-end" id="delete"><a href="#">Delete</a></h1>
                </div>      
            </div>

            <div class="row mt-4 shadow p-3 mb-5 bg-white rounded">
                <div class="col-lg-6 d-flex align-items-center justify-content-center">
                    <h2>Travelling Period</h2>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <!-- <h3><strong>Travelling Period</strong></h3> -->
                    <p class="font-italic">
                        <%= dateFormatter(itinerary.dateFrom) %> - <%= dateFormatter(itinerary.dateTo) %>
                    </p>
                </div>
            </div>
        </div>

    </section>

</body>

</html>