<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>

    <%- include('../partials/nav-menu/app-nav.ejs') %>

    <!-- ==================== New Form Section ==================== -->
    <section class="new-form-top">
        <div class="container">
            <div class="text-center">
                <h3><%= randomQuotes.text %></h3>
                <p>- <%= randomQuotes.author %></p>
            </div>
        </div>
    </section>

    <section id="new-form" class="new-form">
        <div class="container">
            <h2>Create a new itinerary</h2>
            <form action="/app/my-itineraries" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="destination">Destination:</label>
                        <select id="destination" name="destination" class="form-control">
                            <% Object.keys(countries).forEach(country => { %>
                                    <option value="<%= countries[country].name %>"><%= countries[country].name %></option>                           
                            <% }) %>
                        </select>                      
                    </div>
                    <div class="form-group col-md-4">
                        <label for="dateFrom">Date From:</label>
                        <input type="date" class="form-control" id="dateFrom" name="dateFrom">
                        <% if(typeof errors != 'undefined') { %>
                            <% errors.forEach(error => { %>
                                <small><%= error.dateMsg %></small>       
                            <% }) %>
                        <% } %>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="dateTo">Date To:</label>
                        <input type="date" class="form-control" id="dateTo" name="dateTo">
                        <% if(typeof errors != 'undefined') { %>
                            <% errors.forEach(error => { %>
                                <small><%= error.dateMsg %></small>       
                            <% }) %>
                        <% } %>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control" id="description" name="description" rows="5" placeholder="Is the country warm or cold? ...."></textarea>       
                </div>
                <div class="form-group">
                    <label for="plans">Plans:</label>
                    <textarea class="form-control" id="plans" name="plans" rows="12" placeholder="What are your plans?"></textarea>
                </div>
                <button type="submit" class="btn btn-info mt-2">Submit</button>
            </form>
        </div>
    </section><!-- End New Form Section -->

</body>

</html>