<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>

    <%- include('../partials/nav-menu/app-nav.ejs') %>

    <!-- ==================== New Form Section ==================== -->
    <section class="new-form-top">
        <div class="container">
            <div class="text-center">
                <h3><%= randomQuotes.text %></h3>
                <p>- <%= randomQuotes.author %></p>
            </div>
        </div>
    </section>

    <section id="new-form" class="new-form">
        <div class="container">
            <h2>Create a new itinerary</h2>
            <form action="/app/my-itineraries" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="destination">Destination:</label>
                        <select id="destination" name="destination" class="form-control">
                            <% let sorted_CountryArr = countryArr.sort(); %>
                            <% sorted_CountryArr.forEach(country => { %>
                                <option value="<%= country %>"><%= country %></option>
                            <% }) %>
                        </select>                      
                    </div>
                    <div class="form-group col-md-4">
                        <label for="dateFrom">Date From:</label>
                        <input type="date" class="form-control" id="dateFrom" name="dateFrom" value="<%= typeof dateFrom != 'undefined' ? dateFrom : '' %>" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="dateTo">Date To:</label>
                        <input type="date" class="form-control" id="dateTo" name="dateTo" value="<%= typeof dateTo != 'undefined' ? dateTo : '' %>" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control" id="description" name="description" rows="5" placeholder="Is the country warm or cold? ...."><%= typeof description != 'undefined' ? description : '' %></textarea>       
                </div>
                <div class="form-group">
                    <label for="plans">Plans:</label>
                    <textarea class="form-control" id="plans" name="plans" rows="12" placeholder="What are your plans?"><%= typeof plans != 'undefined' ? plans : '' %></textarea>
                </div>
                <button type="submit" class="btn btn-info mt-2">Submit</button>
            </form>
        </div>
    </section><!-- End New Form Section -->

</body>

</html>