<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>

    <%- include('../partials/nav-menu/app-nav.ejs') %>

    <!-- ==================== Edit Form Section ==================== -->
    <section class="edit-form-top">
        <div class="container">
            <div class="text-center">
                <h3><%= randomQuotes.text %></h3>
                <p>- <%= randomQuotes.author %></p>
            </div>
        </div>
    </section>

    <section id="edit-form" class="edit-form">
        <div class="container">
            <h2>Edit Itinerary</h2>
            <form action="/app/my-itineraries/edit/<%= itinerary._id %>/?_method=PUT" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="destination">Destination:</label>
                        <select id="destination" name="destination" class="form-control">
                            <% let sorted_CountryArr = countryArr.sort(); %>
                            <% sorted_CountryArr.forEach(country => { %>
                                <% if (country === itinerary.destination) { %>
                                    <option value="<%= country %>" selected><%= country %></option>
                                <% } else { %>
                                    <option value="<%= country %>"><%= country %></option>
                                <% } %>
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="dateFrom">Date From:</label>
                        <input type="date" class="form-control" id="dateFrom" name="dateFrom" value="<%= typeof itinerary.dateFrom != 'undefined' ? moment(itinerary.dateFrom).format('YYYY-MM-DD') : '' %>">
                        <% if (error_msg != '') { %>
                            <small><%= error_msg %></small>
                        <% } %>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="dateTo">Date To:</label>
                        <input type="date" class="form-control" id="dateTo" name="dateTo" value="<%= typeof itinerary.dateTo != 'undefined' ? moment(itinerary.dateTo).format('YYYY-MM-DD') : '' %>">
                        <% if (error_msg != '') { %>
                            <small><%= error_msg %></small>
                        <% } %>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control" id="description" name="description" rows="5"><%= typeof itinerary.description != 'undefined' ? itinerary.description : '' %></textarea>       
                </div>
                <div class="form-group">
                    <label for="plans">Plans:</label>
                    <textarea class="form-control" id="plans" name="plans" rows="12"><%= typeof itinerary.plans != 'undefined' ? itinerary.plans : '' %></textarea>
                </div>
                <button type="submit" class="btn btn-info mt-2">Submit</button>
            </form>
        </div>
    </section><!-- End Edit Form Section -->

</body>

</html>