<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>

    <%- include('../partials/nav-menu/app-nav.ejs') %>

    <!-- ==================== INDIVIDUAL ITINERARY SECTION ==================== -->
    <section id="one-itineraries-top">
        <div class="container">
            <div class="text-center">
                <% countries.forEach(country => { %>
                <% if (country.Name === itinerary.destination) { %>
                <img src="https://www.countryflags.io/<%= country.Code %>/shiny/64.png" style="margin: 0; padding: 0">
                <% } %>
                <% }) %>
                <h3><%= itinerary.destination %></h3>
            </div>
        </div>
    </section>

    <section id="one-itinerary" class="one-itinerary">
        <div class="container">
            <div class="d-flex justify-content-between border-bottom pb-2">
                <div class="country-header">
                    <span>
                        <p class="d-inline"><a href="/app/my-itineraries">My Itineraries</a>&nbsp;&nbsp; / &nbsp;&nbsp;
                        </p>
                    </span><%= itinerary.destination %>
                </div>

                <div class="d-flex justify-content-around" style="width: 140px">
                    <h1 class="d-flex align-items-end edit" id="edit"><a
                            href="/app/my-itineraries/edit/<%= itinerary._id %>">Edit</a></h1>
                    <form action="/app/my-itineraries/<%= itinerary._id %>?_method=DELETE" method="POST"
                        id="<%= itinerary._id %>" class="d-flex align-items-end">
                        <button type="submit" class="deleteBtn" id="<%= itinerary._id %>">
                            <h1 id="delete" class="d-flex align-items-end">Delete</h1>
                        </button>
                    </form>
                </div>
            </div>

            <!-- Travelling period section -->
            <div class="row no-gutters">
                <div class="col-lg-4 col-md-6 content-item p-4" data-aos="fade-up">
                    <span><i class="material-icons" style="font-size: 3em">flight</i></span>
                    <h4>Travelling Period</h4>
                    <p><%= moment(itinerary.dateFrom).format('ddd, MMM Do YYYY') %> -
                        <%= moment(itinerary.dateTo).format('ddd, MMM Do YYYY') %>
                    </p>
                </div>

                <div class="col-lg-4 col-md-6 content-item p-4" data-aos="fade-up" data-aos-delay="100">
                    <span><i class="material-icons" style="font-size: 3em">access_time</i></span>
                    <h4>Time Zone</h4>
                    <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno
                        para dest</p>
                </div>

                <div class="col-lg-4 col-md-6 content-item p-4" data-aos="fade-up" data-aos-delay="200">
                    <span><i class="material-icons" style="font-size: 3em">wb_cloudy</i></span>
                    <h4>Current Weather</h4>
                    <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>
                </div>
            </div>

            <div class="" style="width: 100%">
                <!-- description -->
                <div class="mt-4 shadow p-3 mb-4 bg-white rounded content" style="background-color: black; width: 100%">
                    <i class="material-icons px-4 d-flex" style="font-size: 2.5em; color:#1bbca3;">description</i>
                    <h4 class="px-4">Description</h4>
                    <p class="px-4" style="margin-bottom: 20px"><%= itinerary.description %></p>
                </div>
        
                <!-- Plans -->
                <div class="mt-4 shadow p-3 mb-4 bg-white rounded content">
                    <i class="material-icons px-4 d-flex" style="font-size: 2.5em; color:#1bbca3;">assignment</i>
                    <h4 class="px-4">Plans</h4>
                    <p class="px-4" style="margin-bottom: 20px"><%= itinerary.plans %></p>
                </div>
            </div>
        </div>
    </section><!-- End Individual Itinerary Section -->

</body>

</html>